<div class="dark">
  <section class="star-wars">
    <div class="crawl">
      <div class="title">
        <p>Enterprise Web Apllication</p>
        <h1>Stratego</h1>
      </div>
      <br>
      <br>
      <h1> A Long Time Ago.....</h1>
      <p> When to idiots thought they could build stratego</p>

      <h2>Starring:</h2>
      <br>
      <br>

      <h3>Dave Dekker:</h3>
      <br>
      <p>Programming, software design</p>
      <br>
      <h3>Bas Brunink:</h3>
      <br>
      <p>Programming, software desig</p>
      <br>
      <h3>Michel Marcera:</h3>
      <br>
      <p>Coach</p>
      <br>
      <h3>John Sommers:</h3>
      <br>
      <p>Product Owner, Teacher Web Frameworks</p>
      <br>
      <br>
      <br>
      <h2>Technologies used:</h2>
      <br>
      <br>
      <h3><a class="link" href="https://angular.io" target="_blank">Angular8</a></h3>
      <br>
      <h3>Node JS</h3>
      <br>
      <h3>Jetbrains Webstorm</h3>
      <br>
      <h3>Jetbrains Intelli J</h3>
      <br>
      <br>
      <h2>Je kent het wel..... </h2>
      <br>
      <br>
      <h2>Thanks to ........</h2>
      <br>
      <h3>Familie en vrienden....</h3>
      <p>Voor het mogen negeren van jullie op momenten.</p>
      <h3><a class="link" href="https://css-tricks.com/snippets/css/star-wars-crawl-text/" target="_blank">Geoff Graham</a></h3>
      <p> Writer basic StarWars scroller</p>

    </div>
  </section>
</div>
