/* reset */
html {
  height: 100%;
}
/* Utils */
.center {
  margin-left: auto;
  margin-right: auto;

}


/* header */
.header {
  max-height: 25vh;

}

app-header img {
  max-height: inherit;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* welcome */

.welcome-title {
  font-size: 3rem;
}
.welcome-sub-title {
  font-size: 1.2rem;
}
.btn-welcome {
  margin:0rem 2rem;
}


.card-login {
  max-width: 18rem;

}

/* Signup */

.card-signup {
  max-width: 40rem;

}

/* Lobby */

/* .table {
  margin-top: 1rem;
} */

.gamebutton {
  height: 4rem;
}

.gamebutton button {
  width: 5rem;
}

.friendsoverview {
  margin-top: 2.5rem;
}

.gameoverview {
}


/* Stock */

.stock-cell {
  background: beige;
}
.stock-cell-title {
  font-weight: bold;
}
.stock-cell-col {
  padding:0;
  margin:0;
}
.stock-cell-image {

  padding: 0;
  margin: 1px;
}
.stock-cell-image-clicked {
  opacity: 0.5;
  padding: 0;
  margin: 1px;
}


/* Game Board */

.board {
  margin-top: 4rem;
  border: 10px solid black;
  background: yellowgreen;
  width: 630px;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  width: 610px;
  height: 610px;
}

.tile {
  flex: 1 0 4rem;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid black;
}

.grass {
  background: url("assets/img/game/standaard/grass.jpg") no-repeat center;
  width: 61px;
  height: 61px;
}

.waterTL {
  background: url("assets/img/game/standaard/lakeTL.jpg") no-repeat center;

}

.waterTR {
  background: url("assets/img/game/standaard/lakeTR.jpg") no-repeat center;
}

.waterBL {
  background: url("assets/img/game/standaard/lakeBL.jpg") no-repeat center;
}

.waterBR {
  background: url("assets/img/game/standaard/lakeBR.jpg") no-repeat center;
}
