/Node_backend/node_modules/
/Node_backend/.idea/jsLibraryMappings.xml
/Node_backend/.idea/misc.xml
/Node_backend/.idea/modules.xml
/Node_backend/.idea/Node_backend.iml
/Node_backend/.idea/vcs.xml
/Node_backend/.idea/runConfigurations/bin_www.xml
