<div class="container-fluid">
  <div class="row ">
    <div class="col-6">
      <h4>Game Overview</h4>
      <div class="row gamebutton">
        <div class="col-2">
          <button class="btn btn-primary">Join</button>
        </div>
        <div class="col">
          <button class="btn btn-primary">Create</button>
        </div>
      </div>
      <div class="row gameoverview">
        <div class="col">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">GameID</th>
              <th scope="col">GameTitle</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <tr *ngFor="let game of games; let i = index">
              <td> <a href="#" (click)="onSelected(game,i)">{{ game.id }}</a></td>
              <td> <a href="#" (click)="onSelected(game,i)">{{ game.name }}</a></td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
    <div class="col-6">
      <h4>FriendsList</h4>
      <h5>Hey {{dataService.loggedInUser.username}},
        Any friends online?</h5>
      <div class="row friendsoverview">
        <div class="col">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Avatar</th>
              <th scope="col">Last Online</th>
              <th scope="col">Name</th>
              <th scope="col">Location</th>
              <th scope="col">Rank</th>
            </tr>
            </thead>
            <tbody>
            <tr
              [class.table-success]="friend.getStatus() === 'online'"
              [class.table-danger]="friend.getStatus() === 'offline'"
            *ngFor="let friend of friends;let i = index">
              <td>{{friend.avatar}}</td>
              <td>2019-10-10</td>
              <td>{{friend.username}}</td>
              <td>{{friend.location}}</td>
              <td>{{friend.rank}}</td>


            </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-primary" routerLink="/game">To the GAME!!!!!</button>
