<div class="card card-login center">
  <div class="card-header">Login</div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username">
      </div>
      <div class="form-group">

        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
      </div>
    </form>
  </div>
  <button
    class="btn btn-primary"
    style="margin-bottom: 0;">login
  </button>

</div>

